h1 {
    color: red;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(126, 3, 3);
}

.container {
    border: 10px dashed yellow;
    margin: 50px 5px;
    padding: 30px 0px 10px 35px;
    color: green;
}

a {
    text-decoration-line: none;
}

nav {
    background-color: lightskyblue;
    text-align: center;
    height: 60px;
    margin: 25px 25px 25px 25px;
}

.nav-wrapper {

    background-color: blue;

}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    padding: 20px;
}

#italic {
    color: hotpink;
}

#emphasis {
    color: lightseagreen;
}

.box {

    /* display: inline-block; */
    background-color: thistle;
    height: 200px;
    width: 200px;
    margin: 20px 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 10px 25px 10px 10px gray inset; */

}

@keyframes fadeMe {

    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
} 

#box1 {
    animation-name: fadeMe;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes rotation {

    0% {transform: rotate(0deg);}
    25% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    75% {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}

}

#box2 {
    animation-name: rotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    border-radius: 10%;
    background-image: radial-gradient(circle, purple, orange, yellow, pink, purple);
}

@keyframes getBigger {
    0% {transform: scale(1);}
    50% {transform: scale(2);}
    100% {transform: scale(1);}
    
}

#box3 {

    animation: getBigger 5s infinite ease-in;
    border-radius: 50%;
    background: orange;

}

@keyframes changeColors {
    0% {background-color: red;}
    15% {background-color: orange;}
    30% {background-color: yellow;}
    45% {background-color: green;}
    60% {background-color: cornflowerblue;}
    75% {background-color: indigo;}
    90% {background-color: violet;}
    100% {background-color: red;}
}

#box4 {
    animation: changeColors 5s 10s forwards;
}

@keyframes moveBox {
    0% {left: 0px; top: 0px}
    25% {left: 100px; top: 0px}
    50% {left: 100px; top: 200px}
    75% {left: 0px; top: 200px}
    100% {left: 0px; top: 0px}

}

#box5 {
    position: relative;
    background: green;
    animation: moveBox 10s infinite linear;
}

#box6 {

    top: 10px;
    left: 20px;
    position: relative;

}

/* html {
    background-image: url(kittens.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-image: linear-gradient(to right, blue, green, yellow); 
    background-image: radial-gradient(blue, green, yellow); 
} */

html {
    margin: 20px 20px 20px 20px;
    margin-right: 2.5%;
}

/* img {
    border-radius: 50%;
    box-shadow: 10px 25px 10px 10px gray;
} */

.circleImg {
    border-radius: 50%;
}

.flex {

    margin: 10px;
    border: 3px solid black;
    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* flex-direction: row-reverse; */

}

form input, textarea, button {
    display: block;
    margin: 30px;
}

.contact-box {
    display: flex;
    justify-content: space-around;
}

.row {
    margin: 30px;
}

.input-field {
    margin: 20px;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, [col] 20% ) ;
    grid-template-rows: repeat(3, [row] auto  );
    background-color:#fff;
    color: #444;
}

.Box {
    
    background-color: #fff;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    z-index:10;

}

.a {
    grid-column: col / span  2;
    grid-row: row ;
    display: flex;
    justify-content: center;
}

.b {
    grid-column: col 4 / span  2 ;
    grid-row: row ;
    display: flex;
    justify-content: center;
}

.c {
    grid-column: col / span 5 ;
    grid-row: row 2 ;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(pink, orange, yellow, indigo);
}

.d {
    grid-column: col 1 / span  3 ;
    grid-row: row 3 ;
    display: flex;
    justify-content: center;
}

.e {
    grid-column: col 3/ span  3;
    grid-row: row 3;
    display: flex;
    justify-content: center;
}

.f {
    grid-column: col 2 / span 3;
    grid-row: row 2  ;
    background-color: rgba(49,121,207, 0.5);
    z-index: 20;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(indigo, yellow, orange, pink);
}



